body{
margin: 0;
font-family: "Sans Pro", sans-serif;
font-weight: lighter;
}

a:link {
	color: rgb(60,116,165);
	text-decoration: none;
}
a:hover{
	color: blue;
}
.block {
	display: block;
}

/*Content*/

#content {
	margin: 0 auto;
	width: 80%;
	overflow-y: auto;
}
#title {
	font-size: 30pt;
	color: white;
}

#opening{
position: relative;
display: block;
background-image:
    linear-gradient(
      rgb(40,66,105), rgb(60,116,165)
      );
width: 100%;
height: 15%;
align-items: center;
/*Add movie poster background image; everyone in TSA is arranged in a V pointing towards the viewer and up. TSA events are in the foreground.*/
}

.homeimg1{
display: block;
margin-top: 1em;
margin-left: auto;
margin-right: auto;
}
.section {
	margin-bottom: 3em
}

#footer{
width: 100%;
max-height: 10%;
height: 10%;
}


/*Links*/

#links{
background-color: rgb(40,66,105);
top: 0px;
z-index: 10;
font-size: 28px;
padding: 10px 0;
text-align: center;
width: 100%;
}

.shadow{
-webkit-box-shadow: 0px 2px 20px black; /*Chrome*/
box-shadow: 0px 2px 20px black;
}

.shadow2{
-webkit-box-shadow: 2px 0px 20px black inset; /*Chrome*/
box-shadow: 2px 0px 20px black inset;
}

header {
	background-color: rgb(40,66,105);
	color: lightgray;
	overflow-y: auto;
}
header a:link{
	text-decoration: none;
	color: lightgray;
}
header a:visited{
	color: lightgray;
}

header a:hover{
    color: white;
}

#links a{
	display: inline-block;
	margin: 0 2.5em;
}
#links a:first-child {
	margin-left: 1em;
}

/*Text and Images*/

h1{
font-size: 50px;
font-weight: lighter;
text-align: center;
}

h2{
font-size: 40px;
font-weight: lighter;
text-align: center;
}

h3{
font-size: 30px;
font-weight: lighter;
text-align: center;
}

.wordswitcher{
min-width: 100%;
margin-left: 2.5%;
margin-top: -2.5%;
margin-bottom: -2.5%;
float: left;
text-align: left;
}

.textleft{
text-align: left;
}

p {
	line-height: 150%;
}

.caption1{
display: inline-block;
font-size: 18px;
line-height: 30px;
min-width: 100px;
width: 30%;
text-align: left;
}

.paraimage{
display: block;
max-height: 50%;
max-width: 50%;
}

#supportimg {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  display: none;
  -webkit-transition: opacity 0.5s, visibility 0.5s; /* For Safari 3.1 to 6.0 */
  transition: opacity 0.5s, visibility 0.5s;
  margin-top: -20%;
}

a#show:hover + #supportimg, #supportimg:hover{
  visibility: visible;
  opacity: 1;
  display: inline-block;
}

#contact{
background-image: url("https://cloud.githubusercontent.com/assets/3527106/6100315/86913640-afdb-11e4-847f-00660029aed5.png");
min-height: 100px;
width: 100%;
margin: auto;
}
