<!DOCTYPE html>
{% capture title %}{% if page.fulltitle %}{{ page.fulltitle }}{% else %}IHSTSA - {{ page.title }}{% endif %}{% endcapture %}
<html>
 <head>
  <title>{{ title }}</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="css/styles.css" />
  {% if page.stylesheet %}<link rel="stylesheet" href="css/{{ page.stylesheet }}" />{% endif %}
  {% if page.script %}<script type="text/javascript" src="js/{{ page.script }}"></script>{% endif %}
 </head>
 <body>
  <header>
   <div id="title">
   {{ title }}
   </div>
   <div id="links">
    <a href=".">Home</a>
	<a href="about.html">About Us</a>
	<a href="news.html">News</a>
	<a href="support.html">Support</a>
	<a href="contact.html">Contact</a>
   </div>
  </header>
  <div id="content">
   {{ content }}
  </div>
  <footer>
   
  </footer>
 </body>
</html>