<!DOCTYPE html>

<html>
 <head>
  <title>IHSTSA - {{ page.title }}</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="css/styles.css" />
  <script type="text/javascript" src="js/script.js"></script>
  {% if page.stylesheet %}<link rel="stylesheet" href="css/{{ page.stylesheet }}" />{% endif %}
  {% if page.script %}<script type="text/javascript" src="js/{{ page.script }}"></script>{% endif %}
 </head>
 <body>
  <header>
   <div id="title">
   Ithaca High School TSA
   </div>
   <div id="links">
    <a href=".">Home</a>
	<a href="about.html">About Us</a>
	<a href="news.html">News</a>
	<a href="support.html">Support</a>
	<a href="contact.html">Contact</a>
   </div>
  </header>
  <h2>{{ page.title }}
  <div id="content">
   {{ content }}
  </div>
  <footer>
   
  </footer>
 </body>
</html>